.predefined{
    background-color: rosybrown;
}

.advanced_options{
    float: left;
    display: inline-block;
    margin-left: 1.6em;
    width: 100%;
    text-align: left;
}

.advanced_options > a {
    float: left;
    width: 100%;
    text-align: left;
}

.advanced_options > div {
    text-align: left;
    width:100%;
    margin-bottom:1em;
}

#hangprinter {
    overflow: none;
}


.measure_value {
    witdh: 6em;
}

#hangprinter .jog-panel .label{
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    float: left;
    border: 1px solid;
    margin-right: 10px;
}

#hangprinter .tab-content{
        display: inline-block;
}

#hangprinter .jog-panel {
    display: inline-block;
    margin-right: 19px
}

#hangprinter h1 {
    text-align: left
}

#hangprinter .z-jog-panel {
    display: inline-block;
    margin-right: 19px

}

#hangprinter .z-jog-panel > div {
    text-align: center
}

#hangprinter .z-jog-panel > div.distance {
    text-align: left
}

#hangprinter .z-jog-panel .slider {
    margin-bottom: 10px
}


#hangprinter .jog-panel > div {
    text-align: center
}

#hangprinter .jog-panel > div.distance {
    text-align: left
}

#hangprinter .jog-panel .slider {
    margin-bottom: 10px
}

#hangprinter .box {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 8px
}

#hangprinter .control-box {
    display: block;
    height: 30px;
    margin-bottom: 10px
}

#hangprinter .btn-group {
    margin-bottom: 10px
}

#hangprinter .btn-group.distance > .btn {
    width: 43px;
    padding: 3px 0;
    height: 30px
}

#hangprinter .slider-handle {
    width: 14px;
    height: 14px;
    margin-left: -7px;
    margin-top: -3px
}

#hangprinter .custom_section h1 {
    cursor: pointer
}

#hangprinter .custom_section_horizontal > .custom_control {
    display: inline-block
}

#hangprinter .custom_section_vertical > .custom_control {
    display: block
}

#hangprinter .custom_control .slider {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px
}
